{
    "presets": [
      [
        "@babel/preset-env",
        {
          "loose": true,
          "targets": {
            "browsers": "defaults"
          }
        }
      ],
      "@babel/typescript",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
    ]
  }
  